doctype html
html
	head
		title= title
		link(rel='stylesheet', href='/stylesheets/style.css')
	body
		div#container
			div#header
				h1 Biblioteka
			div#navigation
				ul
					li.left
						a(href='/noauth') Książki
					li.right
						a(href='/user/dodaj') Rejestracja 
						a(href='/login') Zaloguj
			div#content
					block content
			div#footer
				p Bartłomiej Karczmarczyk, s8358
